[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
ipython = "*"
djangorestframework = "*"
django-rest-auth = "*"
paho-mqtt = "*"
django-allauth = "*"
requests = "*"
coreapi = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
