{% load static %}

<style>
   .da {
      padding-left: 20px;
   }
</style>

<h3>Welcome to our thermostat control application!</h3>

<br><br><br><br>

<h5>Please choose one of the following:</h5>
<br>

<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<div class="row">
   <div class="col-md-4">
      <div class="da">
         <form action="http://127.0.0.1:8888/login">
            <input type="submit" value="Log into existing account" />
         </form> 
      </div>
   </div>

   <div class="col-md-4">

      <form action="http://127.0.0.1:8888/register">
         <input type="submit" value="Create a new account" />
      </form> 

   </div>
</div>


